.github/** zos-working-tree-encoding=ISO8859-1 git-encoding=ISO8859-1
.vscode/** zos-working-tree-encoding=IBM-1047 git-encoding=ISO8859-1
cmd/** zos-working-tree-encoding=IBM-1047 git-encoding=ISO8859-1
internal/** zos-working-tree-encoding=IBM-1047 git-encoding=ISO8859-1
.gitattributes zos-working-tree-encoding=ISO8859-1 git-encoding=ISO8859-1
.gitignore zos-working-tree-encoding=ISO8859-1 git-encoding=ISO8859-1
.markdownlint.json zos-working-tree-encoding=ISO8859-1 git-encoding=ISO8859-1
CHANGELOG.md zos-working-tree-encoding=IBM-1047 git-encoding=ISO8859-1
go.mod zos-working-tree-encoding=IBM-1047 git-encoding=ISO8859-1
go.sum zos-working-tree-encoding=IBM-1047 git-encoding=ISO8859-1
LICENSE.md zos-working-tree-encoding=IBM-1047 git-encoding=ISO8859-1
main.go zos-working-tree-encoding=IBM-1047 git-encoding=ISO8859-1
Makefile zos-working-tree-encoding=IBM-1047 git-encoding=ISO8859-1
profiles.yaml zos-working-tree-encoding=IBM-1047 git-encoding=ISO8859-1
README.md zos-working-tree-encoding=ISO8859-1 git-encoding=ISO8859-1
SMPEDefaults.yaml zos-working-tree-encoding=IBM-1047 git-encoding=ISO8859-1